<form action="" class="form-general">
    <div class="from-item-group">
        <div class="from-item-group-content" id="emisor">
            <div class="from-row-tittle d-flex des">
                <div class="from-row w-100">
                    <div class="icon-seting">
                        <h4>Emisor</h4>
                        <i class="fas fa-caret-down down-section"></i>
                    </div>
                </div>
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="cod_emisor"><span>*</span>Dni_emisor</label>
                </div>
                <input class="input-lable" type="text" id="nombre" name="cod_emisor" placeholder="identificate">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="nombre"><span>*</span>Nombre</label>
                </div>
                <input class="from-control-label" class="input-lable" type="text" id="nombre" name="nombre" placeholder="escribe tu nombre...">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="apellido"><span>*</span>Apellido</label>
                </div>
                <input type="text" id="apellido" name="apellido" placeholder="escribe tu apellido...">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="direc"><span>*</span> Dirección</label>
                </div>
                <input type="text" id="direc" name="direc" placeholder="escribe tu dirección...">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="cod_postal"><span>*</span> Código postal</label>
                </div>
                <input type="text" id="postal" name="postal" placeholder="escribe tu codigo postal" maxlength="4">
            </div>
        </div>
        <div class="from-item-group-content" id="receptor">
            <div class="from-row-tittle d-flex">
                <div class="from-row w-100">
                    <div class="icon-seting">
                        <h4>Destinatario</h4>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" class="from-control-label" for="cod_receptor"><span>*</span>Dni_Destinatario</label>
                </div>
                <input class="input-lable" type="text" id="nombre" name="cod_receptor" placeholder="identificate">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" class="from-control-label" for="nombre_r"><span>*</span>Nombre</label>
                </div>
                <input class="input-lable" type="text" id="nombre" name="nombre_r" placeholder="escribe tu nombre...">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="apellido_r"><span>*</span>Apellido</label>
                </div>
                <input type="text" id="apellido" name="apellido_r" placeholder="escribe tu apellido...">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="direc_r"><span>*</span> Dirección</label>
                </div>
                <input type="text" id="direc" name="direc_r" placeholder="escribe tu dirección...">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="cod_postal_r"> <span>*</span>Código postal</label>
                </div>
                <input type="text" id="postal" name="postal_r" placeholder="escribe tu codigo postal" maxlength="4">
            </div>
        </div>
        <div class="from-item-group-content" id="paquete_envio">
            <div class="from-row-tittle d-flex">
                <div class="from-row w-100">
                    <div class="icon-seting">
                        <h4>Destinatario</h4>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" class="from-control-label" for="cod_envio">Código</label>
                </div>
                <input class="input-lable only col-2" type="text" id="nombre" name="cod_envio" placeholder="..." readonly>
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" class="from-control-label" for="terminal">Terminal Origen</label>
                </div>
                <input class="input-lable only" type="text" id="nombre" name="terminal" placeholder="" readonly>
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" class="from-control-label" for="cod_envio"><span>*</span>Tipo de Envío:</label>
                </div>
                <input class="input-lable" type="text" id="nombre" name="cod_envio" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="direc_des"><span>*</span>Dirección Destino</label>
                </div>
                <input type="text" id="apellido" name="direc_des" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="estado"> Estado del envío</label>
                </div>
                <input type="text" id="direc" name="estado" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="peso"> <span>*</span>Peso</label>
                </div>
                <input type="text" id="postal" name="peso" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="desc_envio"> <span>*</span>Descripción</label>
                </div>
                <textarea type="text" id="envio_desc" name="desc_envio" placeholder=""></textarea>
            </div>
        </div>
    </div>





    <!-- <label for="mensaje">Mensaje</label>
    <textarea id="mensaje" name="mensaje" placeholder="escribe tu mensaje....." style="height:200px"></textarea>
                <div class="centrar">
                    <input type="submit" value="Enviar">

                </div> -->
</form>
<script>
    var acc = document.getElementsByClassName("des");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            console.log(panel + "asdkaj");
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                panel.style.display = "none";

            } else {
                panel.style.display = "block";
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
