<div class="main">
    <div class="img-background">

        <div class="images">
            <img src="../../assets/images/pexels-karolina-grabowska-4968667.jpg" alt="">
            <img src="../../assets/images/pexels-tima-miroshnichenko-6169678.jpg" alt="">
            <img src="../../assets/images/pexels-ksenia-chernaya-5691655.jpg" alt="">
            <img src="../../assets/images/pexels-tima-miroshnichenko-6170413.jpg" alt="">
            <img src="../../assets/images/pexels-tiger-lily-4483608.jpg" alt="">
            <img src="../../assets/images/pexels-johnmark-smith-281962.jpg" alt="">

        </div>
    </div>

    <div class="content-login">
        <div id="line">
            <hr/>
            <hr/>
        </div>
        <div class="form-cont centro">
            <div id="from-log">
                <div class="logo">
                    <img src="../../assets/images/logoveder-letras.png" alt="">
                </div>
                <form action="">
                    <div class="form centro">
                        <div class="input-container ">
                            <div class="input">
                                <label for="email"><i class="fas fa-envelope icon"></i>
                       Dni
                      </label>
                                <input type="email" name="email" class="input-field" placeholder="dni" />
                            </div>
                            <div class="input">
                                <label for="password">  <i class="fas fa-unlock icon"></i>Contraseña</label>
                                <input type="password" name="password" class="input-field" placeholder="Tu contraseña" />
                            </div>
                        </div>
                        <div class="btn-container ">
                            <input class="btn btnlog " type="button" value=" Ingresar" />
                        </div>
                        <div class="centro enlace">
                            <p><a href="#">Recuperar Conraseña</a></p>
                            <p>Aun no tienes Cuenta? <a href="#">Registrarse </a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
