<form action="" class="form-general">
    <div class="from-item-group">
        <div class="from-item-group-content" id="emisor">
            <div class="from-row-tittle d-flex">
                <div class="from-row w-100">
                    <div class="icon-seting">
                        <h4>Datos Coche</h4>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="matricula"><span>*</span>Matricula</label>
                </div>
                <input class="input-lable" type="text" id="matricula" name="matricula" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="modelo"><span>*</span>Modelo</label>
                </div>
                <input class="from-control-label" class="input-lable" type="text" id="modelo" name="modelo" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="anyo"><span>*</span>Año</label>
                </div>
                <input type="text" id="anyo" name="anyo" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="cap"><span>*</span> Capacidad</label>
                </div>
                <input type="text" id="cap" name="cap" placeholder="">
            </div>
            <div class="from-row">
                <div class="from-control-label col-2">
                    <label class="from-control-label" for="estado"><span>*</span> estado</label>
                </div>
                <input type="text" id="estado" name="estado" placeholder="">
            </div>
        </div>

    </div>





    <!-- <label for="mensaje">Mensaje</label>
  <textarea id="mensaje" name="mensaje" placeholder="escribe tu mensaje....." style="height:200px"></textarea>
              <div class="centrar">
                  <input type="submit" value="Enviar">

              </div> -->
</form>
